@model Producto
@{
    ViewData["Title"] = "Detalles de Productos";
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se muestra el detalle de los productos.</p>

<div class="mb-3">
    <label>Nombre</label>
    <input asp-for="Nombre" class="form-control" readonly>
</div>
<div class="mb-3">
    <label>Descripción</label>
    <input asp-for="Descripcion" class="form-control" readonly>
</div>
<div class="mb-3">
    <label>Cantidad</label>
    <input asp-for="Cantidad" class="form-control" readonly>
</div>

<div class="row col-6">
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success">REGRESAR</a>
    </div>
</div>