@model Producto
@{
    ViewData["Title"] = "Editar Producto";
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se editan los productos.</p>

<form method="post">
    No se xq el tuyo tampoco esta mandando el ID pero poniendo esto le obligas a enviar el ID
    <input type="hidden" asp-for="IdProducto"/>

    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control">
    </div>
    <div class="mb-3">
        <label>Descripción</label>
        <input asp-for="Descripcion" class="form-control">
    </div>
    <div class="mb-3">
        <label>Cantidad</label>
        <input asp-for="Cantidad" class="form-control">
    </div>

    <div class="row col-6">
        <div class="col-6">
            <button type="submit" asp-action="Edit" class="btn btn-primary">GUARDAR</button>
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-outline-primary">REGRESAR</a>
        </div>
    </div>

</form>
